body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #0077CC;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

th {
    background-color: #0077CC;
    color: white;
}

tr:nth-child(even) {
    background-color: #e7f3ff;
}

.lesson-name {
    font-weight: bold;
    /* Название урока жирным шрифтом */
    display: block;
    /* Перенос на новую строку */
}

.lesson-time {
    color: #555;
    /* Серый цвет для времени */
    font-size: 0.9em;
    /* Немного меньший размер шрифта */
    display: block;
    /* Перенос на новую строку */
}